.wrap{
  overflow: hidden;
}
/*ここからヘッダー*/
header{
  background-color: #fff;
  height:60px;
  width:100%;
  position: fixed;
/*  margin-top: -57px;*/
  display: flex;
  justify-content: flex-end;
  z-index: 200;
}
.toyotalogo{
  height:50px;
  width: auto;
  margin-right:auto; 
  margin-top: auto;
  margin-bottom: auto;
}
.menu-box{
  display: flex;
  height: 60px;
  
}
.hd-menu{
  font-size:17px;
  margin:auto 25px; 
}
.hd-btn{
  width: 230px;
  color: #fff;
  font-size: 17px;
  background-color: #46BDCA;
}
/*ここまでヘッダー*/

.swiper-container {
  /*width: 75%;*/
  /*height: 100vh;*/
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: auto;
}
#slideshow{
  margin-top: 57px;
}

.concept{
  text-align: center;
  width: 50%;
  font-size: 20px;
  line-height: 2.0;
  margin: 100px auto;
}
/*幸せ訴求タブ*/
.cp_tab *, .cp_tab *:before, .cp_tab *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_tab {
	margin: 1em auto;
	position: relative;
}
.cp_tab input[type='radio'] {
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	background: none;
	-webkit-appearance: none;
	        appearance: none;
	display: none;
}
.cp_tab .cp_tabpanel {
	display: none;
}
.cp_tab > input:first-child:checked ~ .cp_tabpanels > .cp_tabpanel:first-child,
.cp_tab > input:nth-child(3):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(2),
.cp_tab > input:nth-child(5):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(3),
.cp_tab > input:nth-child(7):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(4),
.cp_tab > input:nth-child(9):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(5),
.cp_tab > input:nth-child(11):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(6) {
	display: block;
}
.cp_tab .cp_tabpanels {
	position: absolute;
	top:0;
	left: 10em;
	display: block;
	height: 320px;
}
.cp_tab > input + label {
	position: relative;
	z-index: 100;
	top: 0;
	left: 1px;
	display: block;
	width: 10em;
	margin-bottom: 0;
	padding: 46px;
	cursor: pointer;
	border: 1px solid #cccccc;
	border-right: 0;
	text-align: center;
    background-color: #D1D1D1;
}
.cp_tab > input + label:last-of-type {
	margin-bottom: 0;
}
.cp_tab > label:hover,
.cp_tab > input:focus + label {
	color: #fff
}
.cp_tab > input:checked + label {
	border-color: #cccccc;
	border-right: 1px solid #ffffff;/*背景色と同じ*/
}
.cp_tab .cp_tabpanel {
	
	border-left: 1px solid #cccccc;
	min-height: 320px;
}
.cp_tab > input + label:last-of-type {
	margin-bottom: 400px;
}
/*幸せ訴求イメージスタイル*/
.tab-img{
  width: 100%;
  height: auto;
}
/*ホバーさせたらタブの色変えられるようにしたい↓*/
/*
.cp_tab >.sea:hover{
  background-color: #46BDCA;
}
*/

label[for="tab2_1"]:hover{
  background-color: #46BDCA;
}
label[for="tab2_2"]:hover{
  background-color: #BCCE2A;
}
label[for="tab2_3"]:hover{
  background-color: #002853;
}
label[for="tab2_4"]:hover{
  background-color: #F49E1B;
}
/*3つのポイント*/
/*見出しのスタイル*/
.topic-comment{
  text-align: center;
  width: 500px;
  font-size: 30px;
  margin:100px auto 0 auto;
}
.topic-comment2{

  text-align: center;
  width: 500px;
  font-size: 30px;
  margin:100px auto 32px auto;

}

.sub-comment{
  font-size:12px;
  text-align: center;
  margin-top: 20px;
}
.border{
  background-color:#46BDCA;
  height: 7px;
  width: 500px;
  margin:20px auto;
}
/*見出しのスタイルここまで*/
.point-box{
  display: flex;
  width: 58%;
  justify-content: space-around;
  margin: 30px auto;
}
.point{
  height: 200px;
  width: auto;
  display: flex;
}
.point-box:nth-child(2){
  
}
.line-car{
  margin:-100px 50px 30px 0;
  width: 100%;
  height: auto;
}
.line-car2{
  margin:-100px 50px 30px 0;
  width: 100%;
  height: auto;
}
.ecodrive{
  margin-top: 180px;
}
/*カスタム*/
.custom-img{
  width:80%;
  height:auto;
  margin: 40px auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.costom-price{
  position: absolute;
  bottom: 80px;
  right: 130px;
  font-size: 30px;
  color: #2E3536;
}
.grd-btn-box{
  height: 50px;
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
}
.grd-btn{
  height: 40px;
  width: 110px;
  color: #fff;
  font-size: 17px;
  text-align: center;
  background-color: #D1D1D1;
  line-height: 40px;
}
.grd-btn:hover{
  background-color: #46BDCA;
  color:#fff;
}
.color{
  width: 60%;
  margin:20px auto;
}
.color>img{
  width: 100%;
}
.pkg-point{
  display: flex;
  justify-content:flex-start;
  width: 80%;
  margin:100px auto 20px;
  font-size: 20px;
}
.pkg-point>p{
  margin-right: 59px;
}
.pkg-point>p:first-child{
  margin-right: 68px;
}


.pkg-img{
  display: flex;
  justify-content: center;
  width: 200%;
  
}
.pkg-img>img{
  border-radius: 80px;
  width: 25%;
  height:auto;
  margin-right: 30px;
}
.pkg-topic{
  display: flex;
  width: 80%;
  margin: 0 auto 60px;
}
.pkg-topic:last-child{
  margin-bottom: 80px;
}
.pkg-main{
  width: 25%;
  height: 25%;
}
.pkg-txt{
  position: relative;
  font-size: 13px;
  letter-spacing: 0.1em;
  line-height: 1.2;
}
.more{
  position: absolute;
  right: 0;
  bottom:0;
  color: #0083C4;
}
.pkg-name{
  margin-left: 10%;
}
.nenpi{
  width: 58%;
  margin:30px auto;
}
.nenpi>img{
  width: 100%;
  
}
.eco-txt{
  margin:60px auto;
  width: 47%;
  line-height: 2.2;
}
.eco-main{
  width: 60%;
  margin: 30px auto;
  position: relative;
}
.eco-main>p{
  font-size: 10px;
  position: absolute;
  right: 0;
  bottom: -15;
  color: #A0A0A0;
}
.eco-main>img{
  width: 100%;
}
.eco-sub{
  margin: 30px auto;
  width: 60%;
  display: flex;
  justify-content:space-between;
  height: 130px;
}
.eco-sub2{
  margin: 0px auto;
  width: 60%;
  display: flex;
  justify-content:space-around;
 
}
.eco-sub2>div{
  width: 120px;
  text-align: center;
}
.eco-sub>img{
  height: 130px;
  width: auto;
}
.dsp-txt{
  margin-left: 20%;
}
/*試乗ボタン*/
.hd-btn2{
  width: 100%;
  color: #fff;
  font-size: 17px;
  background-color: #46BDCA;
  height: 60px;
  
}
.btn-mg{
  margin: 100px auto;
  width: 230px;
}
.shops{
  width: 100%;
  height: 500px;
  display: flex;
  margin-bottom: 100px;
}
.shops>img{
  height: 100%;
  width: auto;
}
.shops>img:nth-child(2){
  height: 40%;
  width: auto;
  margin: auto;
}
.aqua-txt{
  width: 50%;
  margin: 30px auto;
  text-align: center;
  line-height: 2;
}
.event{
  
}

.user-btn{
  margin-right: 50%;
}
.comment-box{
 width: 570px;
 border: solid 1px black;
 border-radius: 15px;
 margin-left: 350px;
 margin-bottom: 30px;
}

.parsonal{
  margin: 17px 0 10px 3%;

}
.parsonal-text{
  margin: 25px;
  margin-left: 40px;
}
.txt-car-class{
  font-size: 20px;
  margin-right: 15px;
}